/.git
/.github
/.idea
/.vscode
/dist
/input
/output

/.betterleaks.toml
/.commitlintrc.yaml
/.env
/.env.*
/.gitignore
/.golamgci.yaml
/.goreleaser.yaml
/.hadolint.yaml
/.tool-versions
/.zizmor.yaml
/LICENSE
/README.md
